.board-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
}

.columns-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.columns__item-content {
  margin: 8px;
}
